- if @results.any?
  -last_post = nil
  - @results.in_groups_of(3) do |posts|
    %table{style: "width:100%"}
      %tr
        -posts.each do |post|
          %td{style: "width:33%;"}
            -last_post = post
            -if post
              -if post[:videos]
                = link_to image_tag(post.images.thumbnail.url, class: 'feed-img'), instagram_post_user_social_medium_index_path(@user, feed_id: @feed.id, media_id: post.id), remote: true
              -else
                = link_to image_tag(post.images.thumbnail.url, class: 'feed-img'), instagram_post_user_social_medium_index_path(@user, feed_id: @feed.id, media_id: post.id), remote: true
  -if last_post
    #more-results
      %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
        %h4= link_to t("load_more"), more_results_user_social_medium_index_path(@user, feed_id: @feed.id, id: last_post.id), remote: true, class: "list-group-item active"
-else
  %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
    %h4= t("no_results")
