-# %ul.list-group{style: "padding-left:0px;"}
-#   -@family.members.each do |user|
-#     %li.list-group-item
-#       %a.location.title-like{href: complete_task_path(task: task.id, user: user.id), style: 'text-decoration:none;', "data-remote" => true}
-#         =image_tag(gravatar_for(user), class: "img-rounded", size: "35x35")
-#         =user.name

%table.table.table-hover
  %thead
    %tr
      %th= t('who_completed')
  %tbody
    -@family.members.each do |user|
      %tr
        %td
          %a.location.title-like{href: complete_task_path(task: task.id, user: user.id), style: 'text-decoration:none;', "data-remote" => true}
            =image_tag(gravatar_for(user), class: "img-rounded", size: "35x35")
            =user.name
