.span8{align: "center"}
  .row
    %h2 All Chores
  .row
    .span2
      = link_to " Chore", new_task_path, class: "i icon-plus btn btn-success btn-small"
  .row
    .span7
      %p
        %table.table
          - @tasks.sort_by{|x| x.period}.each do |task|
            %tr
              %td
                = render partial: 'chore', locals: { task: task }