var el = $('.errors');

<% if @task.errors.any? %>
  
  // Create a list of errors
  var errors = $('<ul />');

  <% @task.errors.full_messages.each do |error| %>
    errors.append("<li><%= escape_javascript( error ) %></li>");
  <% end %>
  // Display errors on form
  el.html(errors);
  el.addClass('alert alert-danger');

<% else %>
  <% if @task.user_id %>
    window.location.replace("<%= user_path(@task.user) %>");
  <% else %>
    window.location.replace("<%= family_path(@task.family) %>");
  <% end %>
<% end %>