.span8{align: "center"}
  %div.well.well-small
    .row
      .span2
        = link_to (image_tag(gravatar_for(user.email == nil || user.email == "" ? user.name : user.email))), user_path(user)
      .span3
        .lead= link_to user.name, user_path(user)
        -if user.user_type >= 10
          .muted (Parent)
      .span2{id: "credits-#{user.id}"}
        -if user.credits
          %h2.lead
            = user.credits
            credits