var el = $('.errors');

<% if @family.errors.any? %>

  var errors = $('<ul />');

  <% @family.errors.full_messages.each do |error| %>
    errors.append("<li><%= escape_javascript( error ) %></li>");
  <% end %>

  <% @family.errors.messages.each do |k,v| %>
    $('#<%= k.to_s %>').parent().parent().addClass('has-error');
  <% end %>

  el.html(errors);
  el.addClass('alert alert-danger');

<% else %>

  window.location = ("<%= family_path(@family) %>");

<% end %>
