
= render "sidenav"

.results-nav
  #user-results
    .panel.panel-default
      .panel-heading
        .pull-right
          =link_to content_tag(:i, nil, class: "fa fa-refresh fa-2x"), record_user_social_medium_index_path(current_user), remote: true, onclick: "$('.fa-refresh').addClass('fa-spin');"
        %h4= t("activity")
      .panel-body
        #timeline
          =render '/social_medium/activity'
