%div{id: "all", hidden: true}
  .span7
    %h4 All Chores
    %table.table
      - all.sort_by{ |t| t.period }.each do |task|
        %tr
          %td
            = render partial: 'chore', locals: { task: task }