:javascript
  function showManageCredits(user_id){
    event.preventDefault();
    if ($("#manageCredits-" + user_id).is(":hidden")) {
      return $("#manageCredits-" + user_id).fadeIn("fast");
    } else {
      return $("#manageCredits-" + user_id).fadeOut("fast");
    }
  };

.span8
  %div.well.well-small
    .row
      .span2
        = image_tag(gravatar_for(user.email == nil || user.email == "" ? user.name : user.email))
      .span3
        %h2.lead
          = link_to user.name, user_path(user)
      .span2{id: "credits-#{user.id}"}
        -if user.credits
          %h2.lead
            = user.credits
            credits