%table.table
  %tr
    %td
      .lead Instagram
    %td
      .pull-right
        -if @user.instagram?
          = link_to "", user_social_medium_path(@user, @user.instagram), remote: true, class: "glyphicon glyphicon-play btn btn-success btn-sm"
        -else
          = link_to "", connect_instagram_index_path, class: "glyphicon glyphicon-plus btn btn-default btn-sm"
  %tr
    %td
      .lead Facebook
    %td
      .pull-right
        -if @user.facebook?
          = link_to "", user_social_medium_path(@user, @user.facebook), remote: true, class: "glyphicon glyphicon-play btn btn-success btn-sm"
        -else
          = link_to "", connect_facebook_index_path, class: "glyphicon glyphicon-plus btn btn-default btn-sm"