.span8
  .span5
    %h2 Family Members
  .span2
    = link_to " Add member", new_user_path, class: "i icon-plus btn btn-success"
  .span7
    -@users.each do |user|
      =render partial: 'card', locals: { user: user }