.span8{align: "center"}
  .row
    %h2.lead Family Members
  -if current_user.facebook_id != "" && current_user.facebook_id != nil
    .row
      .span2
        = link_to "New Member", new_user_path, class: "btn btn-small"
  .row
    .span7
      %p
        -@users.sort_by{|x| x.facebook_id.to_i }.reverse.each do |user|
          =render partial: 'card', locals: { user: user }