var el = $('.errors');
var famEl = $('.fam-errors');

<% if @user.errors.any? || @family.errors.any? %>
  var errors = $('<ul />');

  <% @user.errors.full_messages.each do |error| %>
    errors.append("<li><%= escape_javascript( error ) %></li>");
  <% end %>

  <% @user.errors.messages.each do |k,v| %>
    $('#<%= k.to_s %>').parent().parent().addClass('has-error');
  <% end %>

  el.html(errors);
  el.addClass('alert alert-danger');

  var famErrors = $('<ul />');

  <% @family.errors.full_messages.each do |error| %>
    famErrors.append("<li><%= escape_javascript( error ) %></li>");
  <% end %>

  <% @family.errors.messages.each do |k,v| %>
    $('#<%= k.to_s %>').parent().parent().addClass('has-error');
  <% end %>

  famEl.html(famErrors);
  famEl.addClass('alert alert-danger');

<% else %>

  window.location = "/family";

<% end %>
