:javascript
  function showTodays(){
    event.preventDefault();
    $('#stats').hide();
    $('#todays').show();
    $('#weeks').hide();
    $('#months').hide();
    $('#all').hide();
    $('#stats-tab').removeClass('active');
    $('#todays-tab').addClass('active');
    $('#weeks-tab').removeClass('active');
    $('#months-tab').removeClass('active');
    $('#all-tab').removeClass('active');
    $('#s-tab').removeClass('active');
    $('#t-tab').addClass('active');
    $('#w-tab').removeClass('active');
    $('#m-tab').removeClass('active');
    $('#a-tab').removeClass('active');

  }

  function showWeeks(){
    event.preventDefault();
    $('#stats').hide();
    $('#todays').hide();
    $('#weeks').show();
    $('#months').hide();
    $('#all').hide();
    $('#stats-tab').removeClass('active');
    $('#todays-tab').removeClass('active');
    $('#weeks-tab').addClass('active');
    $('#months-tab').removeClass('active');
    $('#all-tab').removeClass('active');
    $('#s-tab').removeClass('active');
    $('#t-tab').removeClass('active');
    $('#w-tab').addClass('active');
    $('#m-tab').removeClass('active');
    $('#a-tab').removeClass('active');
  }

  function showMonths(){
    event.preventDefault()
    $('#stats').hide();
    $('#todays').hide();
    $('#weeks').hide();
    $('#months').show();
    $('#all').hide();
    $('#stats-tab').removeClass('active');
    $('#todays-tab').removeClass('active');
    $('#weeks-tab').removeClass('active');
    $('#months-tab').addClass('active');
    $('#all-tab').removeClass('active');
    $('#s-tab').removeClass('active');
    $('#t-tab').removeClass('active');
    $('#w-tab').removeClass('active');
    $('#m-tab').addClass('active');
    $('#a-tab').removeClass('active');
  }

  function showAll(){
    event.preventDefault()
    $('#stats').hide();
    $('#todays').hide();
    $('#weeks').hide();
    $('#months').hide();
    $('#all').show();
    $('#stats-tab').removeClass('active');
    $('#todays-tab').removeClass('active');
    $('#weeks-tab').removeClass('active');
    $('#months-tab').removeClass('active');
    $('#all-tab').addClass('active');
    $('#s-tab').removeClass('active');
    $('#t-tab').removeClass('active');
    $('#w-tab').removeClass('active');
    $('#m-tab').removeClass('active');
    $('#a-tab').addClass('active');
  }


=render 'header'

=render partial: 'stats', locals: {user: @user, todays: @todays, this_weeks: @this_weeks, this_months: @this_months}

=render partial: 'todays', locals: {user: @user, todays: @todays, time: @time}

=render partial: 'weeks', locals: {user: @user, this_weeks: @this_weeks, time: @time}

=render partial: 'months', locals: {user: @user, this_months: @this_months, time: @time}

=render partial: 'all', locals: {user: @user, all: @all, time: @time}