#user-results
.jumbotron
  %h1 Maple Leaf Family
  %p
    .lead= t('about_us')
  %p{align: 'center'}
    .btn-group.btn-group-justified
      =link_to t('sign_in'), login_path, remote: true, class: "btn btn-primary"
      =link_to t('sign_up'), signup_path, remote: true, class: "btn btn-success"
