.span8
  .hero-unit{align: "center"}
    %h1 Chore Cart
    %p Make chores at home fun and productive.
    %p
      -if current_user
        = link_to 'Sign Out', signout_path, :class => 'btn btn-large btn-danger'
      -else
        = link_to 'Sign In', "/auth/facebook", :class => 'btn btn-large btn-success'