.jumbotron
  %h1 Maple Leaf Family
  %p
    .lead Helping families promote good digital citizenship and social media awareness
  %p
    =link_to t('sign_up'), signup_path, remote: true, class: "btn btn-primary"
