#user-results
.jumbotron{align: 'center'}
  %h1
    = image_tag("/assets/leaf_vectorized.png", size: "120x120", style: "margin-top:-10px;")
    = t("family")
  %p
    .lead= t('about_us')
  %p
    .btn-group.btn-group-justified{style: 'width:200px;'}
      =link_to t('sign_in'), login_path, remote: true, class: "btn btn-primary"
      =link_to t('sign_up'), signup_path, class: "btn btn-success"
