/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

/*html.login {
  background: url(/assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

#wrapper {
  padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
}

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 63px;
    left: 0px;
    width: 175px;
    margin-left: -200px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #3e3f3a;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
  }

  .side-nav>li>a {
    width: 200px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
  }

  #page-wrapper {
    padding-left: 200px;
  }

}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}

.week {
  height: 100px;
}

.menu-panel {
  height: 50px;
}

.calendar td {
  height: 100px;
  width: 14.28%;
}
