!!!
%html
  %head
    %title  ML Family
    <!--[if IE]><script scr="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    %link{:href => "http://www.ml-family.com/assets/application.self.css?body=1", :media => "all", :rel => "stylesheet"}/
    %link{:href => "http://www.ml-family.com/assets/bootstrap.self.css?body=1", :media => "all", :rel => "stylesheet"}/
    %link{:href => "http://www.ml-family.com/assets/font-awesome/css/font-awesome.min.self.css?body=1", :media => "all", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    .container
      = yield
